<div>
  <h1>Calculator</h1>
  <p>Cette calculatrice ne fonctionne qu'avec 2 numéros. Par contre il y a un gestion d'erreurs.</p>

  <p class="error">{{error}}</p>

  <table>
    <tr>
      <th colspan="4" id="result">{{result}}</th>
    </tr>
    <tr>
      <td (click)="toto($event,$event.target.innerText)">9</td>
      <td (click)="toto($event,$event.target.innerText)">8</td>
      <td (click)="toto($event,$event.target.innerText)">7</td>
      <td (click)="toto($event,$event.target.innerText)">+</td>
    </tr>
    <tr>
      <td (click)="toto($event,$event.target.innerText)">6</td>
      <td (click)="toto($event,$event.target.innerText)">5</td>
      <td (click)="toto($event,$event.target.innerText)">4</td>
      <td (click)="toto($event,$event.target.innerText)">*</td>
    </tr>
    <tr>
      <td (click)="toto($event,$event.target.innerText)">3</td>
      <td (click)="toto($event,$event.target.innerText)">2</td>
      <td (click)="toto($event,$event.target.innerText)">1</td>
      <td (click)="toto($event,$event.target.innerText)">/</td>
    </tr>
    <tr>
      <td (click)="toto($event,$event.target.innerText)">0</td>
      <td (click)="toto($event,$event.target.innerText)">=</td>
      <td (click)="toto($event,$event.target.innerText)">C</td>
      <td (click)="toto($event,$event.target.innerText)">-</td>
      <td> </td>
    </tr>
  </table>
</div>
